In [43]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\prashant\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prashant\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\prashant\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\prashant\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\prashant\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [44]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\prashant\anaconda3\lib\site-packages (1.21.5)

In [45]:
!pip install gspread

Requirement already satisfied: gspread in c:\users\prashant\anaconda3\lib\site-packages (5.5.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\prashant\anaconda3\lib\site-packages (from gspread) (1.33.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\prashant\anaconda3\lib\site-packages (from gspread) (0.5.2)
Requirement already satisfied: six>=1.9.0 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (61.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\prashant\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\prashant\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\users\prashant\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.27.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\prashant\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prashant\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\prashant\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\prashant\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prashant\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)

In [46]:
!pip install oauth2client

Requirement already satisfied: oauth2client in c:\users\prashant\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\prashant\anaconda3\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\prashant\anaconda3\lib\site-packages (from oauth2client) (0.20.4)
Requirement already satisfied: rsa>=3.1.4 in c:\users\prashant\anaconda3\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: six>=1.6.1 in c:\users\prashant\anaconda3\lib\site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\prashant\anaconda3\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\prashant\anaconda3\lib\site-packages (from httplib2>=0.9.1->oauth2client) (3.0.4)

In [47]:
import gspread

## Import Service_Account

In [48]:
from oauth2client.service_account import ServiceAccountCredentials

In [49]:
from oauth2client.service_account import ServiceAccountCredentials
scope =["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]
creds =ServiceAccountCredentials.from_json_keyfile_name(r"D:\MASAI SCHOOL\Unit -3 Python\Project\my-project-361806-fa192cdf5d79.json", scope)
client = gspread.authorize(creds)

## Import BSE500 Spreadsheet

In [50]:
spreadsheet = client.open("BSE500")
sht1 = client.open_by_url('https://docs.google.com/spreadsheets/d/1-P1grrJ1V5uVu7GQdzifBZL6riedZWGai8npaf33MBo/edit?usp=sharing')

In [51]:
worksheet = sht1.worksheet("bse500")

In [52]:
import pandas as pd

In [53]:
BSE = pd.DataFrame(worksheet.get_all_records())

In [54]:
BSE.head()

,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,EV / EBITDA,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,Delta,Risk-Taking
0,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,6158.70,0.59,6086.30,...,16.68,4.98,25.39,425.09,631.65,242.96,459.22,490.0,0.28,-
1,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,49786.20,-0.26,31500.00,...,51.79,11.75,169.84,656.83,1161.63,293.09,191.03,370.0,0.03,Low Risk Taking
2,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,14125.65,0.24,12801.00,...,52.71,12.1,53.17,177.37,227.22,265.9,270.47,315.0,0.14,-
3,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,18209.00,-1.26,15514.00,...,30.98,7.73,40.84,380.52,1403.0,445.96,446.9,275.0,0.24,Low Risk Taking
4,Bosch Ltd.,500530,BOSCHLTD,INE323A01026,Automobile,Auto Ancillaries,2022-09-05,17591.10,0.13,12932.45,...,25.04,4.03,192.66,438.11,3734.33,91.29,46.68,210.0,0.09,-

## Import Income/Expenses Spreadsheet

In [55]:
spreadsheet2 = client.open("Income_Expense")
sht2=client.open_by_url('https://docs.google.com/spreadsheets/d/1xx1j-P0Ldlk2pneDUXhTjYNJiLzcGVVv6VCLJ8CPKL0/edit?usp=sharing')

SpreadsheetNotFound:

In [ ]:
worksheet2 = shtt2.worksheet("inex")

In [ ]:
Income_Ex = pd.DataFrame(worksheet2.get_all_records())

In [ ]:
Income_Ex.head()

## Import Final Report sheet1 shpreadsheet

In [ ]:
spreadsheet3 = client.open("Final Report")
sht3=client.open_by_url('https://docs.google.com/spreadsheets/d/1XpDUubwE4a64r3gG0zcOiJaWPFMlwunE5nLjBgtbhM4/edit?usp=sharing')

In [ ]:
worksheet3 = sht3.worksheet('Sheet1')

In [ ]:
Final_Report_sheet1 = pd.DataFrame(worksheet3.get_all_records())

In [ ]:
Final_Report_sheet1

## Import Final Report Sheet2 spreadsheet

In [ ]:
spreadsheet4 = client.open("Final Report")
sht4=client.open_by_url('https://docs.google.com/spreadsheets/d/1XpDUubwE4a64r3gG0zcOiJaWPFMlwunE5nLjBgtbhM4/edit?usp=sharing')

In [ ]:
worksheet4 = spreadsheet4.worksheet('Sheet2')

In [ ]:
Final_Report_sheet2 = pd.DataFrame(worksheet4.get_all_records())

In [ ]:
Final_Report_sheet2

In [ ]:
Income_Ex['Amount'].sum()

#  **Subtask - 1:**
##  Populate Net Income for the given data in `sheet1` of Gsheet 3

In [ ]:
Income_Ex1 =Income_Ex[Income_Ex['Income/Expense']=='Income']

In [ ]:
Income_Ex1['INR'].sum()

In [ ]:
worksheet3.update('B2', (Income_Ex1['INR'].sum()))

In [ ]:
worksheet3.cell(2,2).value

##  Populate Net Expenses for the given data in `sheet1` of Gsheet 3

In [ ]:
Income_Ex2 =Income_Ex[Income_Ex['Income/Expense']=='Expense']

In [ ]:
Income_Ex2['INR'].sum()

In [ ]:
worksheet3.update('B3', (Income_Ex2['INR'].sum()))

## Cost incurred in different categories : Food, Other, Transportation, Social Life, Household, Apparel, Education, Salary, Allowance, Self-development, Beauty, Gift, Petty cash - for the given data in sheet1 of Gsheet 3

### Category Food

In [ ]:
Income_Ex4 =Income_Ex[Income_Ex['Category']=='Food']

In [ ]:
Income_Ex4['INR'].sum()

In [ ]:
worksheet3.update('B5', (Income_Ex4['INR'].sum()))

### Category Other

In [ ]:
Income_Ex5 =Income_Ex[Income_Ex['Category']=='Other']

In [ ]:
Income_Ex5['INR'].sum()

In [ ]:
worksheet3.update('B6', (Income_Ex5['INR'].sum()))

### Category Transportation

In [ ]:
Income_Ex6 =Income_Ex[Income_Ex['Category']=='Transportation']
Income_Ex6['INR'].sum()
worksheet3.update('B7', (Income_Ex6['INR'].sum()))

### Category Socail Life

In [ ]:
Income_Ex7 =Income_Ex[Income_Ex['Category']=='Social Life']
Income_Ex7['INR'].sum()
worksheet3.update('B8', (Income_Ex7['INR'].sum()))

## Category Household

In [ ]:
Income_Ex8 =Income_Ex[Income_Ex['Category']=='Household']
Income_Ex8['INR'].sum()
worksheet3.update('B9', (Income_Ex8['INR'].sum()))

## Category Apparel

In [ ]:
Income_Ex9 =Income_Ex[Income_Ex['Category']=='Apparel']
Income_Ex9['INR'].sum()
worksheet3.update('B10', (Income_Ex9['INR'].sum()))

## Category Education

In [ ]:
Income_Ex10 =Income_Ex[Income_Ex['Category']=='Education']
Income_Ex10['INR'].sum()
worksheet3.update('B11', (Income_Ex10['INR'].sum()))

## Category Salary

In [ ]:
Income_Ex11 =Income_Ex[Income_Ex['Category']=='Salary']
Income_Ex11['INR'].sum()
worksheet3.update('B12', (Income_Ex11['INR'].sum()))

## Category Allowance

In [ ]:
Income_Ex12 =Income_Ex[Income_Ex['Category']=='Allowance']
Income_Ex12['INR'].sum()
worksheet3.update('B13', (Income_Ex12['INR'].sum()))

## Category Beauty

In [ ]:
Income_Ex13 =Income_Ex[Income_Ex['Category']=='Beauty']
Income_Ex13['INR'].sum()
worksheet3.update('B14', (Income_Ex13['INR'].sum()))

## Category Gift

In [ ]:
Income_Ex14 =Income_Ex[Income_Ex['Category']=='Gift']
Income_Ex14['INR'].sum()
worksheet3.update('B15', (Income_Ex14['INR'].sum()))

## Category Petty cash

In [ ]:
Income_Ex15 =Income_Ex[Income_Ex['Category']=='Petty cash']
Income_Ex15['INR'].sum()
worksheet3.update('B16', (Income_Ex15['INR'].sum()))

## Available for investment = Net Income - Net Expense(this has to be populated through python formula and not excel formula)

In [ ]:
import numpy as np

In [ ]:
Final_Report_sheet1['B'][0]-Final_Report_sheet1['B'][1]

In [ ]:
worksheet3.update('B19', Final_Report_sheet1['B'][0]-Final_Report_sheet1['B'][1])

# Subtask 2

## Make a new column in Gsheet 1 named “Delta” and populate it with (52 Week High - price)/(52 week High)

### Insert Delta Column

In [ ]:
worksheet.update('AP1','Delta')

In [ ]:
Delta = (BSE['52 Week High']-BSE['Price'])/(BSE['52 Week High'])

In [ ]:
## Make array of Delta Values
k = [float(i) for i in Delta.values[0:500]]
k = k[0:500]
val = [[i] for i in k]
val

In [ ]:
## Update Worksheet with Delta Values
worksheet.batch_update([{'range':'AP2:AP501',
                     'values' : val }])

### Distribute in Low, High, Medium,Risk

In [ ]:
A = BSE['Market Cap(Cr)']
B = BSE['10-Year Return(%)']

In [ ]:
## Create Column Heading Risk-Taking
worksheet.update("AQ1","Risk-Taking")

In [ ]:
## Change Datatype to Numeric
BSE['10-Year Return(%)']  = pd.to_numeric(BSE['10-Year Return(%)'] )

In [ ]:
## Categories into High, Low, Moderate, Risk

Risk_Taking=[]
for i in range(0,501):
    if A[i]<2000 and B[i]<=8:
        Risk_Taking.append("High Risk Taking")
    elif 2000<=A[i]<5000 and 8<B[i]<=15:
        Risk_Taking.append("Risk Taking")
    elif 5000<=A[i]<15000 and 15<B[i]<=20:
        Risk_Taking.append("Moderate Risk Taking")
    elif A[i]>=18000 and B[i]>20:
        Risk_Taking.append("Low Risk Taking")
    else:
        Risk_Taking.append(" - ")

In [ ]:
## Convert to Array
l = [str(i) for i in Risk_Taking]
l = l[0:501]
val1 = [[i] for i in l]
val1

In [ ]:
## Update the worksheet 
worksheet.batch_update([{'range':'AQ2:AQ502', 'values' : val1 }])

In [ ]:
BSE = pd.DataFrame(worksheet.get_all_records())

## Top 5 Companies a per given Criteria

In [ ]:
## Value Count
BSE['Risk-Taking'].value_counts()

## Low Risk Taking

In [ ]:
Low = BSE[BSE['Risk-Taking']=='Low Risk Taking']['Company'].head()
Low

In [ ]:
## for Low Risk
L = [str(i) for i in Low]
L = L[0:6]
valL = [[i] for i in L]
valL

## High Risk Taking

In [ ]:
High = BSE[BSE['Risk-Taking']=='High Risk Taking']['Company'].head()
High

In [ ]:
## for High Risk
h = [str(i) for i in High]
h = h[0:6]
valh = [[i] for i in h]
valh

## Moderate Risk Taking

In [ ]:
Moderate = BSE[BSE['Risk-Taking']=='Moderate Risk Taking']['Company'].head()
Moderate

In [ ]:
## for Moderate Risk
m = [str(i) for i in Moderate]
m = m[0:6]
valm = [[i] for i in m]
valm

## Risk Taking

In [ ]:
Risk = BSE[BSE['Risk-Taking']=='Risk Taking']['Company'].head()
Risk

In [ ]:
## for Risk only
r = [str(i) for i in Risk]
r = r[0:6]
valr = [[i] for i in r]
valr

In [ ]:
## Replace value coloumn to NA if  no is listed in the selected criteria
v=['NA','NA','NA','NA','NA']
w = [str(i) for i in v]
w= v[0:6]
valv = [[i] for i in w]
valv

In [ ]:
## Update the worksheet with Selected Dropdown List
worksheet4.batch_update([{'range':'B2:B6', 'values' : valv}])
if (worksheet3.cell(22,2).value == 'Low Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6', 'values' : valL }])
    l1=len(Low)
elif (worksheet3.cell(22,2).value == 'High Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valh }])
    l1=len(High)
elif (worksheet3.cell(22,2).value == 'Moderate Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valm }])
    l1=len(Moderate)
elif (worksheet3.cell(22,2).value == 'Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valr }])
    l1=len(Risk)

## Contribute Available Amount with the top 5 companies Equally

In [ ]:
##  Checling the count of element for each criteria w.r.t top 5
if 0<l1<=5:
    X = Final_Report_sheet1['B'][17]/l1
elif l1>5:
    X = Final_Report_sheet1['B'][17]/5
else:
    X=0

In [ ]:
## Replace value coloumn to NA if  no is listed in the selected criteria
p=['NA','NA','NA','NA','NA']
u = [i for i in p]
u= u[0:6]
valu = [i for i in u]
valu

In [ ]:
## Checking equal amount to invest coloumn w.r.t no.of.companies
if 0<l1<=5:
    Available = np.ones(l1,dtype=int)*int(X)
elif l1>5:
    Available = np.ones(5,dtype=int)*int(X)
else:
    Available=valu

In [ ]:
## disteibute equal amount to invest coloumn w.r.t no.of.companies
Z = [str(i) for i in Available]
Z = Z[0:6]
valZ = [[i] for i in Z]
valZ

In [ ]:
## update worksheet with invest amount
worksheet4.batch_update([{'range':'C2:C6','values':valZ}])